
<!-- <h1>Hello World from Harshali ! </h1> -->

<!-- say we have to dynamically render this component -->
<!-- <app-rooms></app-rooms> -->
<app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee> 
    <h2>Hello from ng-content</h2>
</app-container>

<!-- demonstrate ngswitch -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchCase="'User'">Welcome User</div>
    <div *ngSwitchDefault>Invalid Role, Unauthorizzed</div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div>

<div #name></div> -->