
<!-- <h1>Hello World from Harshali ! </h1> -->

<!-- say we have to dynamically render this component -->
<!-- <app-rooms></app-rooms> -->
<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee> 
    <h2>Hello from ng-content</h2>
</app-container> -->

<!-- demonstrate ngswitch -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchCase="'User'">Welcome User</div>
    <div *ngSwitchDefault>Invalid Role, Unauthorizzed</div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div>

<div #name></div> -->

<!-- do not use href, it is not a spa it is a mpa , entire page is reloaded when u click these links-->
<!-- <a [href]="'rooms'">Rooms</a>&nbsp;
<a [href]="'employees'">Employees</a> -->

<a [routerLink]="'rooms'">Rooms</a>&nbsp;
<a [routerLink]="'employees'">Employees</a>

<router-outlet></router-outlet>